/* MAP INFO SPACE */
#map_info_space > * {
  float: left; }

#year {
  color: white;
  background-color: #282828;
  padding: 3px 10px 0;
  float: left;
  margin: 0 0 5px;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px; }

#map_title {
  float: left;
  width: 100%;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 19px;
  padding: 10px 0 5px; }

#map_subtitle, #linechart_subtitle {
  float: left;
  width: 100%;
  color: #716f6c;
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: 10px;
  margin: 0 0 5px; }

/* LEGEND */
#legend {
  float: left;
  width: 100%;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px; }

.legend_key {
  height: auto; }

.legend_color {
  width: 7px;
  height: 49px;
  float: left;
  border-bottom: #d1cfcc 1px solid; }

.legend_color_null {
  width: 7px;
  height: 20px;
  float: left;
  border-bottom: #d1cfcc 1px solid; }

.legend_class {
  height: 49px;
  display: table-cell;
  bottom: -39px;
  left: 5px;
  position: relative; }

.legend_class_null {
  height: 20px;
  display: table-cell;
  vertical-align: bottom;
  bottom: -10px;
  left: 5px;
  position: relative; }

#non_applicable {
  float: left;
  padding: 2px 10px;
  margin: 30px 0px 20px;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: white;
  background-color: #999999; }

#advanced_option_title {
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 100%; }

#map_toggle_btn {
  margin: 5px 0;
  float: left;
  position: relative;
  width: 100%;
  border: transparent;
  background: transparent;
  text-align: left;
  padding: 0;
  font-size: 12px;
  color: #5b5855; }
  #map_toggle_btn #map_toggle_box {
    background-image: url("../images/checkbox.png");
    background-position: bottom;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: left; }
    #map_toggle_btn #map_toggle_box.active {
      background-image: url("../images/checkbox_checked.png"); }
  #map_toggle_btn #map_toggle_text {
    font-family: "Avenir", "lato", helvetica, sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-transform: capitalize;
    color: black;
    position: relative;
    padding-left: 5px;
    float: left;
    margin: auto 0; }
  #map_toggle_btn:hover #map_toggle_box {
    background-image: url("../images/checkbox_checked.png");
    opacity: .5; }
    #map_toggle_btn:hover #map_toggle_box.active {
      opacity: .8; }
  #map_toggle_btn:active {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

/*# sourceMappingURL=legend.css.map */
