/* map.css */
.map_centerbar {
  display: block;
  float: left;
  width: 570px;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 50px; }
  .map_centerbar#linechart_data {
    margin-left: 0px;
    width: 620px; }

.map_sidebar {
  display: block;
  float: left;
  width: 175px;
  margin-top: 15px; }

#map_row {
  position: relative; }

#map {
  position: relative;
  height: 650px; }
  #map .alert {
    position: relative;
    z-index: 10;
    width: 500px;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border: transparent;
    border-radius: 0px; }
    #map .alert.alert-info {
      background-color: rgba(40, 40, 40, 0.8); }
  #map svg {
    position: relative;
    width: 100%;
    height: 100%; }
  #map .country_foreground {
    fill: #999999;
    stroke: #fff;
    stroke-width: 1px; }
  #map .country_background {
    fill: #999999;
    stroke: #fff;
    stroke-width: 1px; }
  #map .other_state {
    fill: #999999;
    stroke: #fff;
    stroke-width: 1px; }
  #map .state {
    fill: transparent;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-opacity: .90;
    stroke-width: 1.5px; }
  #map .light_border {
    fill: #828282;
    stroke: #fff;
    stroke-width: 1px; }
  #map .wc {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: .25px; }
  #map .wc_highlight {
    fill: transparent; }
    #map .wc_highlight:hover:not(.selected) {
      stroke: #888888;
      stroke-width: 2px; }
    #map .wc_highlight .selected {
      stroke: #000;
      stroke-width: 2px; }

.capital {
  fill: red;
  border: blue solid 1px; }

.dark_gray {
  fill: #999999;
  pointer-events: none; }

.light_gray {
  fill: #e1e1e1;
  background-color: #e1e1e1;
  stroke-width: .5px; }

/*# sourceMappingURL=map.css.map */
